body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
}

h1 {
  color: #8C8D8E;
  font-size: 300%;
  text-align: center;
  margin: 10px;
}

.center-wrapper {
  text-align :center;
}

.logo {
  margin: 10px auto 0px auto;
  width: 200px;
}

.player-list {
  padding: 0;
  margin: auto;
}

.player-list li {
  list-style: none;
  margin: 10px;
  width: 230px;  
  display: inline-block;
}


.player-list img {
}

.name {
  font-size: 140%;
}

.position {
  font-size: 110%;
  color: #B71833;
}